<div class="titulo">
	<div class="texto">
		<h1>Virtual Vision</h1>
		<p>Una empresa comprometida con el mundo que la rodea</p>
		<p>Google (pronunciación AFI [ˈgugəl]) es una compañía, principal subsidiaria de la multinacional estadounidense Alphabet Inc., especializada en productos y servicios relacionados con Internet, software, dispositivos electrónicos y otras tecnologías. El principal producto de Google es el motor de búsqueda de contenido en Internet del mismo nombre aunque ofrece también </p>
	</div>
</div>
<div class="descripccion">
	<h1>Lo que somos...</h1>
	<p>Virtual Vision es la empresa mas famosa a nicvel internacional y reconocidad por su exelente pérsonal de calidad fdjfndjskhnfdjskfdjksfds.</p>
	<p>
	La empresa es y ha sido criticada por colaborar con determinados países en la censura de Internet con el afán de expandirse comercialmente en ellos y por la infracción reiterada de derechos de autor. También es objeto de críticas por presunta ingeniería fiscal en diferentes países, y por ser una de las empresas que colaboran con las agencias de inteligencia en la red de vigilancia mundial, sacada a la luz en 2013.
	</p>
</div>
<div class="nuestrosLogros">
	<h1>Nuestros Logros...</h1>
	<p>Virtual Vision es la empresa mas famosa a nicvel internacional y reconocidad por su exelente pérsonal de calidad fdjfndjskhnfdjskfdjksfds.</p>
	<p>
	La empresa es y ha sido criticada por colaborar con determinados países en la censura de Internet con el afán de expandirse comercialmente en ellos y por la infracción reiterada de derechos de autor. También es objeto de críticas por presunta ingeniería fiscal en diferentes países, y por ser una de las empresas que colaboran con las agencias de inteligencia en la red de vigilancia mundial, sacada a la luz en 2013.
	</p>
	<p>
	Con más de un millón de servidores y centros de datos presentes en todo el mundo, Google es capaz de procesar más de 1000 millones de peticiones de búsqueda diarias y su motor de búsqueda es el sitio web más visitado a nivel mundial tal como muestra el ranking web internacional.3
	</p>
</div>
				