<div class="avisoP" style="position: relative; top: 100px;">
<h2>1. Información Personal Solicitada</h2>
<p>
	Virtual Vision solicitará información de carácter personal a los usuarios de los servicios, titulares de información personal, con el objeto de poder brindar la mejor experiencia personalizada en el uso de los servicios que Virtual Vision proporciona, para a la medida de sus posibilidades hacerte llegar a discreción de Virtual Vision mensajes que puedan ser de tu interés, ya sean propios o bien de nuestros anunciantes y publicidad de terceros con quién Virtual Vision tenga celebrados convenios. El tipo de información que se solicita a los usuarios de los servicios incluye: nombre, dirección de correo electrónico (e-mail), fecha de nacimiento, genero; no toda la Información que se solicite al momento de registrarse a los servicios de Virtual Vision obligatoria de proporcionarse, salvo aquella que Virtual Vision considere conveniente y que así se le haga saber al titular al momento del registro.
</p>
<p>
	Virtual Vision solicitará dicha Información para poder realizar la venta de boletos al titular o cuando considere sea oportuno o necesario como por ejemplo, cuando el titular quiera participar en concursos o promociones patrocinadas por Virtual Vision o por terceros, en las encuestas puestas en práctica para evaluar y/o proporcionar de manera más satisfactoria los servicios, cuando los usuarios quieran hacer una compra, etc.
</p>
<p>
	La información personal que Virtual Vision recolecta podrá ser utilizada para promocionar eventos, análisis de datos y mejorar nuestros servicios, publicidad de terceros con quién Virtual Vision tenga celebrados convenios y contenidos. 
</p>
<p>
	Si desea ser excluido de una lista de distribución de correo, puede actualizar sus preferencias aquí.
</p>
<p>
	El titular de los datos al registrarse otorga su pleno consentimiento libre y voluntariamente de proporcionar los datos personales que le sean requeridos, en el entendido de que si el usuario decidiera no proporcionar información obligatoria, este no podrá acceder a los servicios que efectivamente requiere dicha información, sin embargo, podrá tener acceso a todos los demás servicios que no requieran dicha Información.
</p>
<p>
	 Virtual Vision en ningún caso y bajo ninguna circunstancia almacena información de datos personales sensibles como origen racial o étnico, estado de salud actual, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas, preferencia sexual, etc.
</p>
<h2>2.Privacidad y Protección de Datos Personales </h2>
<p>
	Virtual Vision utiliza a su alcance la tecnología más avanzada y los procesos para la protección de la información proporcionada por los titulares de los datos personales.
</p>
<p>
	Esta tecnología cifra, codifica y previene la intercepción de la información suministrada por el Internet, incluyendo tarjetas de crédito y direcciones de correo electrónico. Virtual Vision establece y mantiene medidas de seguridad administrativas, técnicas y físicas que permiten proteger los datos personales contra: daños, pérdida o alteración, destrucción, o el uso, acceso o tratamiento no autorizado.
</p>
<p>
	 Virtual Vision contiene hipervínculos o hipertextos "links", banners, botones y herramientas de búsqueda en la World Wide Web que al ser oprimidos o utilizados por los usuarios conllevan a otros portales o sitios de Internet propiedad de terceros. La Información que el titular llegase a proporcionar a través de esos sitios o portales no se encuentra cubierta o contemplada por este aviso de privacidad y su manejo o utilización no es responsabilidad de Virtual Vision , por lo que recomendamos a nuestros usuarios verificar los avisos y políticas de privacidad desplegadas o aplicables a estos sitios o portales de terceros. 
</p>
<p>
	Virtual Vision implementa medidas precautorias administrativas, técnicas y físicas para resguardar la información personal del titular de pérdidas, robos, o uso indebidos así como del acceso, la divulgación, modificación o destrucción no autorizados. Los servicios online emplean cifrado SSL (Secure Sockets Layer) en todas las páginas web en las que se solicita información personal a fin de proteger la confidencialidad de la información personal durante la transmisión a través de Internet. 
</p>
<p>
	Al utilizar algunos productos, servicios o aplicaciones online de Virtual Vision, propias o de terceros como son foros, blogs o redes sociales, la información personal que comparte el titular es visible para otros usuarios, que pueden leerla, recopilarla o utilizarla. El titular será responsable por la información personal que decida proporcionar en estos casos. Al dar su consentimiento para la transferencia de datos personales datos personales en Virtual Vision , el titular de los mismos reconoce y acepta que Virtual Vision podrá hacer la transferencia de sus datos a terceros, incluyendo patrocinadores, publicistas, contratistas y/ o socios comerciales. Virtual Vision también recolectará información que es derivada de los gustos, preferencias y en general de la utilización que hacen los usuarios de los servicios. Dicha información derivada, al igual que la Información personal que el titular proporcione, podrá ser utilizada para diversos objetivos comerciales, como lo es el proporcionar datos estadísticos a anunciantes potenciales, enviar publicidad a los usuarios de acuerdo a sus intereses específicos, conducir investigaciones de mercadeo, y otras actividades o promociones que Virtual Vision considere apropiadas. 
</p>
<p>
	 Virtual Vision también podrá revelar información cuando por mandato de ley y/o de autoridad competente le fuere requerido o por considerar de buena fe que dicha revelación es necesaria para: I) cumplir con procesos legales; II) cumplir con el Convenio del Usuario; III) responder reclamaciones que involucren cualquier Contenido que menoscabe derechos de terceros o; IV) proteger los derechos, la propiedad, o la seguridad de Virtual Vision , sus Usuarios y el público en general. Responsabilidad sobre el uso de la Información Financiera. Virtual Vision podrá utilizar su información financiera para verificar que cumpla con los requisitos que contemplan las instituciones financieras del país, para realizar ventas y otras transacciones en este Sitio de manera eficiente, para entregar los bienes y servicios que ha solicitado, para inscribirlo en programas de descuento, reembolso y otros programas en los cuales usted elige participar y para llevar a cabo aseguramiento de calidad. 
</p>
<p>
	En algunos casos podemos utilizar, y consecuentemente podemos proporcionarles a proveedores de servicios, su información financiera para ayudarnos a realizar algunas de estas tareas. En tales casos, nosotros requerimos a los proveedores de servicios que establezcan acuerdos con nosotros en cuanto al manejo confidencial de su información que Virtual Vision a la información. 
También, podemos proporcionar su información financiera a emisores de tarjetas de crédito, instituciones financieras o procesadores de 	tarjetas de crédito para que procesen transacciones y para otros de sus propósitos. 
</p>
<p>
	También podemos proporcionarle su información financiera a los organizadores de eventos, principalmente con el propósito de facilitar la entrega de los boletos en Will Call, resolver disputas y servicio al cliente en el lugar del evento y en la fecha del evento, y podemos proporcionar su información financiera a aquellos comerciantes que le están proporcionando bienes, servicios o reservaciones que usted compró u ordenó, o bien que están administrando las ofertas de los programas a los que ingresó en este Sitio (o que ingresó por medio de otro sitio después de hacer clic en un enlace de este Sitio que promovía tal oferta o programa). 
</p>
<p>
	 Podríamos revelar información financiera específica cuando determinemos que tal revelación puede ser útil para cumplir con la ley, para cooperar con o buscar asistencia por parte de autoridades de seguridad pública o para proteger los intereses o seguridad de Virtual Vision o de los otros visitantes al Sitio o usuarios de servicios o productos proporcionados por Virtual Vision o para participar conjuntamente con otras entidades en actividades contra el fraude. También, su información financiera puede ser suministrada a terceros en el caso de una transferencia de propiedad o de bienes, o en un proceso de quiebra de Virtual Vision. 
</p>
<p>
	Virtual Vision no es responsable o de cualquier otra divulgación de su información financiera por parte de un tercero con quien Virtual Vision tenga permitido divulgar su información financiera bajo este aviso de privacidad. Virtual Vision no es responsable o de cualquier otra manera responsable legalmente de cualquier uso o divulgación de su información financiera por parte de un tercero con quien Virtual Vision tenga permitido divulgar su información financiera bajo este aviso de privacidad. 
</p>
<h2>
	Cualquier duda comuniquese a vvisionsoft@gmail.com
</h2>

</div>