<div class="apartado2">
    <div class="frase">
        <h1>"<%= @frases[rand(@frases.length)] %>"</h1>
    </div>
</div>
<div class="bienvenida">
	<div class="textoBienvenida">
        <h1>The New Hearing</h1>
        <p> The ultimate Virtual Vision experience now Available on the Google Store.</p>
    </div>
</div>
<div class="mensaje">
    <div class="mensaje-texto"> 
        <h1>Dominando el mercado del Software</h1>
        <p> Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
    </div>
</div>
<div class="informacion">
</div>
<div class="apartado1">
    <div class="texto1">
        <h1>Social</h1>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
    </div>
     <div class="texto2">
        <h1>Personal</h1>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
    </div>
    <div class="texto3">
        <h1>Familiar</h1>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
        <p>Los new hearing son la herramienta perfecta para las personas que no escuchan. Con ayuda de esta lograrán captar su entorno y el medio que los rodea.</p>
    </div>
</div>
