<p>Hola <%= @resource.email %>!</p>

<p>Sigue el siguiente link para cambiar tu contraseña.</p>

<p><%= link_to 'Cambiar Contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

